<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic VueJs App</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{ name }}</p>
        <p v-if="name == 'Franco' ? false : true">Name updated!</p>
        <button v-on:click="changeName">Change name</button>
        <button v-on:click="addElement">New Element</button>

        <ul>
            <li v-for="el in elements" v-bind:id="'element' + el" v-bind:style="{backgroundColor: getColor(el)}">A Element {{ el }}</li>
        </ul>
    </div>

    <script src="index.js"></script>
</body>

</html>